# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/
*.egg-info/

# Environment
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/

# Logs
*.log